@charset "utf-8";

/*General comments and license statement: Free */
/* Bootstrap core CSS */
@import url("css/bootstrap.min.litera.css");
@import url("css/jquery.smartmenus.bootstrap-4.css"); 

/* external css */
@import url("assets/font-awesome/css/font-awesome.css");

@import url(http://fonts.googleapis.com/css?family=Lato);

/*  --- userstyles --- */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color:  black;
    background-color:#fcfcfc;
    width:100.01%;  
}

html, body {
    height: 100%;}
    
h1,h2,h3{font-size:1.2rem;}

.wrap {width:101%;}

 /* https://www.w3schools.com/colors/colors_picker.asp */
#xh_adminmenu_fixed { z-index: 999999 !important;}

#navbarResponsive.collapse.navbar-collapse > li {max-height:40px !important;}
.navbar-dark.bg-primary { box-shadow: 0 1px 2px rgba(0,0,0,.3); }

div.collapse.navbar-collapse a {font-size:1rem;}  /* navbar fontsize */	

li.sdoc, li.sdocs{color:#343a40;text-align:left;border-radius:2px:}

li.sdoc {height:30px; padding:5px !important; line-height:20px;background-color:#c7d8f2;
         margin-left:2px; margin-right:2px;} /* aktive Seite ohne vorhandene Unterseiten */
		 
li.sdocs{line-height:20px;background-color:#4582ec;color:white !important;} /* aktive Seite mit vorhandenen Unterseiten */

li.sdocs {margin-left:2px; margin-right:5px;line-height: 20px;display:block;}
li.sdocs.nav-item.dropdown{margin-left:0 !important;color:white !important;}

.menulevel1 li.sdocs.nav-item > a {align:left;text-align:left; margin:2px;}

li.sdocs.nav-item a a{margin-left:5px;}
li.sdocs.nav-item a:hover{margin:2px;color:white;text-decoration:none;} /* secondary: #adb5bd; lightgray*/
li.sdocs.nav-item a.navlink.has-submenu:active{margin-top:2px;margin-left:-5px !important;align:left !important;}   /*#868e96  #adb5bd; --gray*/

ul.menulevel1 > li.docs > a, ul.menulevel1 > li.sdocs > a  {background:inherit !important; box-shadow: none;}

a.navlink.has-submenu{font-size:16px; color:white;}

a.nav-link, a.navlink.has-submenu { display: block;
    width: 97%;
    padding: .30rem 1.5rem;
    margin:2px;
    clear: both;
    font-weight: 400;
    color: inherit;
    text-align: left;
    white-space: nowrap;
    background-color: #699af0;
    }

a.xhspan {width:100% !important;margin-left:-2px !important;} 

.main-content {width:98.5%; margin-left:2px; margin-right:5px; margin-top: 25px; padding:5px;  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); flex: 1 0 auto;}

.content {min-height:600px !important; border:1px blue solid; 
 margin-left:2px; margin-right:2px; height:100%;}

.container-fluid {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top:10px;  
 }

.container, .container-sm, .container-md, .container-lg{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 15px;   
}

.row {
  display: flex;
   display: webkit-flex;
  flex-wrap: wrap;
  }

.footer{padding:20px; 
min-height:100px; 
width:100%;	
border:1px gray dotted;
position: static;
   margin:auto; flex-shrink: 0;
  padding: 1rem;
  background-color: #3d80f4;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.3); }
}

 /* ------------media width ----------------- */

@media (max-width: 768px) {						 
.navbar-dark .navbar-nav .nav-link { padding-right: 2px; padding-left: 10px !important; white-space: normal; background-color:#699af0 !important;}	
  li.doc, li.docs {padding-left: 5px !important; margin-right:2px;}
       li.sdoc {margin-left:5px; margin-right:5px;}
         .main-content {margin-top:70px !important;  }
    .container-fluid {margin-top:50px !important;  }
}
    
@media (min-width: 800px) and (max-width:1000px){
  .main-content {margin-top:20px;  }
}
/* smartphone - mode */
@media only screen and (max-width: 576px) {
 ul.menulevel1 {padding:10px;border:1px #799bb8 solid; border-radius:3px;margin:5px;}
   ul.menulevel2 li a.nav-link, ul.menulevel2 li a.nav-link:hover {padding-left:5px;margin-left:7px;} 
    .main-content {margin-top:40px;}
      li.doc a.navlink{margin-left:10px !important;}
  }

@media (max-width: 350px) {	
li.doc, li.docs {padding-left:1px !important; margin-right:0;}
}

/*  Back-to-top */
#to-top {
    display:none;
    position:fixed;
    bottom:30px;
    right:30px;
    height:40px;
    width:40px;
    cursor:pointer;
    background:rgba(63,90,164,0.8);
    line-height:1em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-image:url( assets/img/triangle.png);
    background-position: 12px 16px;
    background-repeat:no-repeat;
    opacity:0.7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


#to-top:hover {
    background-color:#48cfad;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity:0.8;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


